{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'user/css/reset_password.css' %}">
</head>
<body>
    <div class="password-container">
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-error{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <h1 class="title">Reset Password</h1>
        <p class="description">Set a strong password to keep your account secure. Once done, you'll be ready to continue shopping with ease!</p>
        <form action="{% url 'reset_password' %}" method="POST">
            {% csrf_token %}
            <input type="password" 
                   name="new_password" 
                   class="password-input" 
                   placeholder="New Password" 
                   required>
            
            <input type="password" 
                   name="confirm_password" 
                   class="password-input" 
                   placeholder="Confirm Password" 
                   required>
            
            <button type="submit" class="submit-button">Reset Password</button>
        </form>
    </div>
</body>
</html>
